:root {
    --main-color:crimson ;
    --second-section:#111;
}
* {
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
/* start media query */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 950px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1150px;
    }
}
/* end media query */
/* start my frame work  */
.container {
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
}
/* end my framework */
/* start navbar */
.navbar {
    position: fixed;
    height:70px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    
}
.scrolltop {
    background-color:var(--main-color);
    color:white !important;
    z-index: 100;
    transition: .5s;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .links {
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:50%;
}
.navbar .links a {
    font-size:19px;
    font-weight: 500;
    color:white;
    transition:.5s;
    margin-left:20px;
}
.navbar .links a:hover {
    color:var(--main-color);
}
.navbar .Portfolio h2{
    font-size: 34px;
    font-weight: bold;
}
.navbar .Portfolio span {
    color:var(--main-color);
    margin-left:-8px;
    padding:0;
}
.navbar .menu {
    display:none
}
.menu .hidden {
    display:none;
}
.mobile-menu {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background-color:var(--second-section);
    z-index: 10;
}
@media (max-width:991px) {
    
    .navbar .links a {
        font-size:15px;
    }
}
/* mobile screen navbar */
@media (max-width:767px) {
    .navbar .container {
        width:100%;
        margin:0 ;
        padding:0;
    }
    .navbar .links {
        display: none;
    }
    .navbar .Portfolio h2 {
        font-size: 29px;
        margin-left:20px;
    }
    .navbar .menu {
        display:block;
        font-size:30px;
        margin-right: 20px;
    }
    .fa-close:before, .fa-multiply:before, .fa-remove:before, .fa-times:before, .fa-xmark:before {
        color:var(--main-color);
        font-size:40px;
        margin-top: 30px;
    }
}

/* end navbar */
/* Start home  */
.home {
    padding-top:150px;
    background-image: url("../images/home.jpg");
    height:100vh; 
    background-size:cover;
}
.home .text {
    color:white;
}
.home .container .text h1 {
    font-size:60px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .7s;
    margin:20px 0;
}
.home .text h1:hover {
    letter-spacing: 10px;
}
.home .text h3 {
    font-size: 30px;
    font-weight: 600;
    position: relative;
}
.home span {
    color:var(--main-color);
}
@keyframes hidden-show {
    to {
        opacity: 0 ;
    }
}
.home button {
    width:fit-content;
    font-size:34px;
    color:white;
    background-color:var(--main-color);
    padding:10px 20px;
    border-radius:20px;
    margin-top:30px;
    cursor:pointer;
}
.home button:hover {
    color:var(--main-color);
    background-color:inherit;
    border:1px solid var(--main-color)
}
.fa-angle-double-up:before, .fa-angles-up:before {
    content: "\f102";
    position: fixed;
    right: -40px;
    bottom: 20px;
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
    transition:.4s;
}
.click-up {
    right: 20px !important ;
}
.home .call {
    color:white;
    position:fixed;
    right:10px;
    bottom:30px;
    font-size:15px;
    background-color: var(--main-color);
    width:fit-content;
    padding:10px;
    border-radius:50%;
    animation: call .1s infinite linear alternate ;
    z-index: 1;
}
@keyframes call {
    to {
        transform: translateY(-10px);
    }
}
/* Start screen mobile in home section */
@media (max-width:767px) {
    .home .container .text h1 {
        font-size:45px;
    }
    .home button {
        font-size:26px;
    }
    .home .text h3 {
        font-size: 28px;
        line-height:1.7;
    }
    .home {
        padding-top:0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .text h1:hover {
        letter-spacing: 6px;
    }
}
/* End home  */
/* start about */
.about {
    position: relative;
    margin-bottom:100px;
    padding-top:100px;
}
.about .container {
    display: flex;
    justify-content: space-between;
}
.about .container .img {
    width:450px;
}
.about .img img {
    max-width:100%;
    object-fit: cover;
    border-radius: 20px;
}
.about .about-me {
    width:40%;
}
.about .about-me {
    width:60%;
    margin-top:70px;
}
.about .about-me p {
    font-size:20px ;
    line-height:2;
    margin-bottom:40px;
}
.about .container .cv {
    color: white;
    background-color: var(--main-color);
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 27px;
    font-weight: 600;
    font-family: -webkit-body;
}
.about .container .cv:hover {
    background-color: white;
    color:var(--main-color);
    border:2px solid var(--main-color)
}
/* Start about section in mobile screen  */
@media(max-width:991px) {
    .about .container .img {
        width:350px;
    }
    .about .about-me {
    width:60%;
    margin-top:70px;
}
}
@media (max-width:767px) {
    .about .container {
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .about .container .img {
        width:100%;
    }
    .about .about-me {
        width:100%;
    }
}
/* end about */
/* start my sills  */
.skills {
    background-color: var(--second-section);
    color:white;
    padding-top:100px;
}
.skills .container {
    display: flex;
    justify-content: space-between;
}
.skills .container .lang  {
    margin-bottom:100px;
    width: 52%;
}
.skills .lang div{
    margin-top:25px;
}
.skills .lang div h3 {
    display: flex;
    justify-content: space-between  ;
}
.skills .text {
    padding: 20px 0;
}
.skills .text li {
    font-size:20px;
    margin-top:20px;
    margin-right: 30px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 1px;
}
.skills .lang div .empty {
    width:100%;
    height:10px;
    background-color:white;
    margin-top:20px;
    padding:0;
    border-radius: 10px;
    position: relative;
}
.skills .one .empty::before ,.skills .two .empty::before ,.skills .three .empty::before {
    content: "";
    position:absolute;
    width:90%;
    height:100%;
    background-color: var(--main-color);
    z-index: 1;
    border-radius: 10px;
}
.skills .four .empty::before {
    content: "";
    position:absolute;
    width:70%;
    height:100%;
    background-color: var(--main-color);
    border-radius: 10px;    
}
.skills .five .empty::before {
    content: "";
    position:absolute;
    width:80%;
    height:100%;
    background-color: var(--main-color);
    border-radius: 10px; 
}
.skills .six .empty::before ,.skills .seven .empty::before {
    content: "";
    position:absolute;
    width:100%;
    height:100%;
    background-color: var(--main-color);
    border-radius: 10px;  
}
@media (max-width:767px) {
    .skills .container {
        flex-direction: column;
        width:100%;
    }
    .skills .container .lang {
        width:100%; 
    }
    .skills .text li {
        font-size:18px;
    }
}
/* End my sills  */
/* start my projects */
.projects {
    margin-bottom: 100px;
    padding-top:100px;
}
.projects .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(330px,1fr));
    gap:30px;
}
.projects .cards .img {
    position: relative;
}
.projects .cards .img::before {
    content: "";
    position: absolute;
    top:50%;
    right:50%;
    width:0;
    height:0;
    background-color: rgb(238 238 238 / 30%);
    z-index: 1;
    transition:.5s;
}
.projects .cards .img:hover::before {
    width:100%;
    height:100%;
    top:0;
    right:0;
    transform:rotate(5deg);
    z-index: 1;
}
.projects .cards .img:hover img {
    transform:rotate(5deg);
}
.projects .cards div .img img {
    max-width:100%;
    border-radius: 20px;
    transition: .6s;
}
.projects .cards .cardone , .cardtwo , .cardthree {
    background-color: #EEE;
    padding:20px;
    border-radius: 20px;
}
.projects .cards .text {
    margin-top:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects .cards .text p {
    line-height: 2;
    font-size:15px;
    margin-top:5px;
    font-weight: 400;
}
.projects .cards .text p span {
    color:var(--main-color)
}
/* End my projects */
/* start contact us  */
.contact {
    background-color:var(--second-section);
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact .container h3 {
    color:white;
    font-size:25px;
    line-height: 2;
}
.contact .ways {
    margin-top:30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap:20px;
    position:relative;
}
.contact .ways div {
    color:var(--main-color);
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:170px;
    border-radius: 30px;
    margin-top:30px;
    position:relative;
}
.contact .ways div::after {
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    width:0;
    height:0;
    border-radius: 30px;
    transition:.4s;
    background-color:var(--main-color)
}
.contact .ways div:hover::after {
   width:100%;
   height:100%;   
   top:0;
   left:0;
}
.contact .ways div:hover h4 , .ways div:hover i ,.ways div:hover p{
   color:white;
   z-index: 1;
   transition:.4s;
}
.contact .ways div h4{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}
.contact .ways div i {
    display: block;
    font-size:30px;
}
@media (max-width:767px) {
    .contact .container h3 {
        color:white;
        font-size:17px;
        line-height: 2;
        font-weight: bold;
    }
}
/* end contact us  */
/* start styling all */
.main-title{
    width:fit-content;
    padding:10px 20px;
    font-size:30px;
    position: relative;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top:30px;
    border:2px solid var(--main-color);
    color:var(--main-color);
    transition: .6s;
}
.main-title:hover {
    color:white !important;
    z-index: 100;
}
.main-title::after {
    content: "";
    width:14px;
    height:14px;
    border-radius: 50%;
    position: absolute;
    right: -20%;
    top:50%;
    background-color:var(--main-color);
    transition: .6s;
}
.main-title::before {
    content: "";
    width:14px;
    height:14px;
    border-radius: 50%;
    position:absolute;
    left:-20%;
    top:50%;
    background-color:var(--main-color);
    transition: .6s;
}
.main-title:hover::before {
    width:100%;
    height:100%;
    top:0 ;
    left:0;
    z-index: -1;
    border-radius: 0;
}
.main-title:hover::after {
    width:100%;
    height:100%;
    top:0 ;
    right:0;
    z-index: -1;
    border-radius: 0;
}
.links-mobile {
    display:flex;
    flex-direction:column;
    position:fixed;
    top:40%;left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
